<h2>Sales Sheet</h2>
<table>
  <thead>
    <tr>
      <th>Product Name</th>
      <th>Product Number</th>
      <th>Payments</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Mini USB</td>
      <td>4563</td>
      <td>Due</td>
      <td class="warning">Pending</td>
      <td class="primary">Details</td>
    </tr>
    <tr>
      <td>Mini USB</td>
      <td>4563</td>
      <td>Due</td>
      <td class="warning">Pending</td>
      <td class="primary">Details</td>
    </tr>
    <tr>
      <td>Mini USB</td>
      <td>4563</td>
      <td>Due</td>
      <td class="warning">Pending</td>
      <td class="primary">Details</td>
    </tr>
    <tr>
      <td>Mini USB</td>
      <td>4563</td>
      <td>Due</td>
      <td class="warning">Pending</td>
      <td class="primary">Details</td>
    </tr>
  </tbody>
</table>
<a href="#">Show All</a>
